.navbar{
  display: flex;
  border-bottom: 1px solid #D4D9E3;
  justify-content: space-between;
  background: white;
  height: 100px;
  padding: 0 20px;
}

.navbar-list {
  display: flex;
  align-items: center;
}

.navbar-list-item{
  margin: 0 10px;
  display: flex;
}

.navbar-btn {
  color: white;
  padding: 10px 20px;
  border-radius: 50px;
  background: #5584FF;
}
.navbar-btn:before {
  content: '+';
  margin-right: 5px;
  font-weight: 700;
  color: #AAC2FF;
}
