<header class="header">
  <nav class="navbar">
    <ul class="navbar-left navbar-list">
      <li class="navbar-list-item"><img src="assets/images/hamburger.png" (click)="menuToggle()"></li>
      <li class="navbar-list-item"><img src="assets/images/magnify.png"></li>
    </ul>
    <ul class="navbar-right navbar-list">
      <li class="navbar-list-item"><a href="#" class="navbar-btn">Add project</a></li>
      <li class="navbar-list-item"><img src="assets/images/mail.png" alt=""></li>
      <li class="navbar-list-item"><img src="assets/images/alerts.png" alt=""></li>
      <li class="navbar-list-item"><img src="assets/images/john.png" alt=""></li>
    </ul>
  </nav>
</header>
